html body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    color: hsl(229, 6%, 66%);
    font-weight: 100;
    margin-top: 100px;
    font-size: 40px;
}

header h2 {
    text-align: center;
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 40px;
    margim: 20px auto;
}

header h3 {
    font-size: 15px;
    text-align: center;
    color: hsl(229, 6%, 66%);
    font-weight: 200;
    margin-bottom: 60px;
}

.jumbotron {
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    width: 450px;
    height: 300px;
}

.jumbotron h3 {
    text-align: left;
    font-size: 30px;
    margin: 20px;
    font-weight: 600;
}

.jumbotron p {
    text-align: left;
    font-size: 15px;
    color: hsl(229, 6%, 66%);
}

imagem {
    right: 10px;
}

.bordafull {
    border: solid #ffffff 1px;
    border-radius: 20px;
}

.borda_cyan {
    border-top: solid hsl(180, 62%, 55%) 5px;
}

.borda_vermelho {
    border-top: solid hsl(0, 78%, 62%) 5px;
}

.borda_laranja {
    border-top: solid hsl(34, 97%, 64%) 5px;
}

.borda_azul {
    border-top: solid hsl(212, 86%, 64%) 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 225px);
    grid-template-rows: repeat(5, 150px);
    grid-gap: 25px;
    margin-left: 20;
}

.gridsupervisor {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.gridteam {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.gridkarma {
    grid-column: 3 / 5;
    grid-row: 3 / 6;
}

.gridcalculator {
    grid-column: 5 / 6;
    grid-row: 2 / 4;
}